ul{ list-style-type: none; }
a{
    color: black;
    text-decoration: none;
    outline: none;
}
.logo{ width: 150px; }

/* 웹 가로사이즈 */
.webbox{
    width: 100%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
}
.top_menu{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.top_menu li{ margin-left: 20px}