<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>write</title>
</head>
<body>

        <h1> 글쓰기 페이지 </h1>

        <input type="text" class="bcname">
        <button type="button" onclick="setbcategory()">카테고리추가</button>
        <div class="bcategorybox"></div>


        <form class="boardform">
            <!-- form 전송시 태그의 속성명 name과 Dto 필드명 동일 => 자동매핑( 형변환 ) -->
            제목 : <input type="text" name="btitle"><br>
            내용 : <input type="text" name="bcontent"><br>
            첨부파일 : <input type="file" name="bfile">
            <button type="button" onclick="setboard()">등록</button>
        </form>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/board/write.js"></script>
</body>
</html>