<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

    <h3> 회원가입 </h3>

    <div>
        이메일 : <input type="text" class="memail">
        <button type="button" onclick="getauth()" class="getauthbtn">인증코드 받기</button>
        <div class="authbox">
            <input type="text" class="authinput">   <!-- 인증코드 입력박스 -->
            <button type="button" class="authbtn" onclick="authcode()">인증</button>
            <span class="timerbox"></span>  <!-- 타이머 박스 -->
        </div>
    </div>

        전화번호 : <input type="text" class="mphone"><br>
        비밀번호 : <input type="text" class="mpassword"><br>
        <button type="button" onclick="setmember()">가입하기</button>



    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 사용자지정 JS -->
    <script src="/js/member/signup.js"></script>

</body>
</html>