<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p> 11월9일 [ getMapping 비동기 테스트 ] </p>

    <button onclick="getMapping1()"> p.57 </button>
    <button onclick="getMapping2()"> p.58 </button>
    <button onclick="getMapping3()"> p.59 </button>
    <button onclick="getMapping4()"> p.60-1 </button>
    <button onclick="getMapping5()"> p.60-2 </button>
    <button onclick="getMapping6()"> p.61 </button>
    <button onclick="getMapping7()"> p.62 </button>
    <button onclick="getMapping8()"> p.66 </button>

    <br>

    <p> 11월10일 [ PostMapping 비동기 테스트 ] </p>
    <button onclick="postMapping1()" type="button"> p.68 </button>
    <button onclick="postMapping2()" type="button"> p.69 </button>
    <button onclick="postMapping3()" type="button"> p.69 </button>

    <br>

    <p> 11월10일 [ PutMapping 비동기 테스트 ] </p>
    <button onclick="putMapping1()" type="button"> p.70 </button>
    <button onclick="putMapping2()" type="button"> p.71-1 </button>
    <button onclick="putMapping3()" type="button"> p.71-2 </button>

    <br>

    <p> 11월10일 [ DeleteMapping 비동기 테스트 ] </p>
    <button onclick="deleteMapping1()" type="button"> p.76 </button>
    <button onclick="deleteMapping2()" type="button"> p.76 </button>




    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/test1.js"></script>
        <!-- jsp : webapp 폴더 기본 경로 -->
        <!-- spring : resources -> static 폴더 기본 경로 -->

</body>
</html>